.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

/* ESSENCIAL */
.js [data-anime] {
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}


.js .opacity-0{
  opacity: 0
}
.js .opacity-0.opacity-1{
  opacity: 1;
  transform: translate3d(0, 20px, 0);
  transition: transform 0.8s, opacity 0.8s;
}
.js .opacity-0.opacity-1-left{
  opacity: 1;
  transform: translate3d(-20px, 0, 0);
  transition: transform 0.8s, opacity 0.8s;
}
.js .opacity-0.opacity-1-right{
  opacity: 1;
  transform: translate3d(5px, 0, 0);
  transition: transform 0.8s, opacity 0.8s;
}
.js .opacity-0.opacity-1-s{
  opacity: 1;
  transform: translate3d(0, 5px, 0);
  transition: transform 0.8s, opacity 0.8s;
}
